<div class="nav">
    <a class="back" href="#"></a>
    <h1>约看订单</h1>
    <a class="next" href="#">提交</a>
</div>

<div class="subscribe-bar">

    <div class="label">*约看时间</div>
    <div style="position:relative">
        <div style="position:absolute;left:0;top:0;bottom:0;width:100%;"  class="lookT-mask"></div>
        <input type="text"  placeholder="点击选择您约看时间" class="lookT" >
    </div>
    <div class="label">*性别 </div>
    <div style="position:relative">
        <div style="position:absolute;left:0;top:0;bottom:0;width:100%;"  class="monthC-mask"></div>
        <input type="text"  placeholder="点击选择您的性别" class="monthC" >
    </div>



</div>