<style type="text/css">
    .house_slider>img{
        /*height: 350px;*/
        min-width: 360px;
        overflow: hidden;
    }
    .housing {
        padding: 10px 15px;
        position: relative;
        overflow: hidden;
    }

    .house_title{
        font-size:18px;
        margin: auto;
        line-height: 40px;
    }

    p >img{
        padding: 10px 0 0 10px;
        height: 150px;
        width: 150px;
        overflow: hidden;
    }









</style>
<div class="page" style="background-color: #E8E8E8;">
<div class="title_block" style="background-color:#fff;border-bottom: 1px solid #C7C6CB;">
<div class="house_slider">
    <img style="height: 200px" src="<%=decorate.avatar.url%>">
</div>
<div class="housing" >
    <div class="house_intro" style="padding: 10px">
        <p class="house_title" style="float:left;width:60%;"><%=decorate.title%></p>
        <p class="look" style="float:right;width:20%;color:#ff6600;border-left:1px solid #e7e7e7;padding: 10px 0 0 20px;">关注</p>
    </div>
</div>
</div>

<div class="before_block" style="background-color:#fff;border-top: 1px solid #C7C6CB;margin: 10px 0 0 0px">
    <p style="padding: 10px;font-size:18px;">装修前情况</p>
    <div style=" border-top: 1px solid #C7C6CB;padding: 10px">
        <p style="float:left;width:50%;color:#999;font-size:18px;">户型</p>
        <p style="float:right;width:50%;color:#999;font-size:18px;">面积</p>
    </div>
    <p style="padding: 10px;display: block">&nbsp;&nbsp;&nbsp;&nbsp;<%=decorate.body%></p>
    <p>
        <img src="<%=decorate.before_pic1.url%>">
        <img src="<%=decorate.before_pic2.url%>">
    </p>
    <p>
        <img src="<%=decorate.before_pic3.url%>">
        <img src="<%=decorate.before_pic4.url%>">
    </p>
</div>


    <div class="after_block" style="background-color:#fff;border-top: 1px solid #C7C6CB;margin: 10px 0 0 0px">
        <p style="padding: 10px;font-size:18px;">装修后情况</p>
        <p style="padding: 10px;display: block">&nbsp;&nbsp;&nbsp;&nbsp;<%=decorate.after_info%></p>
        <p>
            <img src="<%=decorate.after_pic1.url%>">
            <img src="<%=decorate.after_pic2.url%>">
        </p>
        <p>
            <img src="<%=decorate.after_pic3.url%>">
            <img src="<%=decorate.after_pic4.url%>">
        </p>
        <p>
            <img src="<%=decorate.after_pic5.url%>">
            <img src="<%=decorate.after_pic6.url%>">
        </p>

    </div>



</div>